{% extends "base.html" %}
{% from "macros/music_analyser.html" import music_bp_analyser, music_header, music_mastery_block, music_score_block, music_stage_block %}

{% block title %}Music Search{% endblock %}

{% block content %}
{% for music in musics %}
{{ music_header(music) }}
{{ music_score_block(music) }}
{{ music_stage_block(music) }}
{{ music_bp_analyser(music) }}
{{ music_mastery_block(music) }}

{% if not loop.last %}
<hr style="border: 0; border-top: 2px dashed #ccc; margin: 40px 0;">
{% endif %}
{% endfor %}
{% endblock %}
