{% macro icon(id, type='skill', size=24, class='') %}
{% if type == 'skill' %}
{% set src = config.ICON_BASE_URL ~ '/icon_skill_' ~ id ~ '.png' %}
{% elif type == 'section' %}
{% set src = config.ICON_SECTION_URL ~ '/icon_section_' ~ id ~ '.png' %}
{% elif type == 'mood' %}
{% set src = config.ASSETS_ICON_URL ~ '/icon_mood_' ~ id ~ '.png' %}
{% elif type == 'style' %}
{% set fmt_id = "%02d"|format(id|int) %}
{% set src = config.ASSETS_ICON_URL ~ '/icon_style_type_' ~ fmt_id ~ '.png' %}
{% elif type == 'item' %}
{% set src = config.ICON_ITEM_URL ~ '/icon_item_' ~ id ~ '.png' %}
{% elif type == 'music_type' %}
{% set src = config.ASSETS_ICON_URL ~ '/icon_' ~ id ~ '.png' %}
{% elif type == 'face' %}
{% set src = config.ICON_FACE_URL ~ '/icon_face_sd_' ~ id ~ '_01.png' %}
{% else %}
{% set src = config.ICON_BASE_URL ~ '/' ~ id %}
{% endif %}
<img src="{{ src }}" width="{{ size }}" height="{{ size }}" class="{{ class }}"
    style="vertical-align: middle; object-fit: contain;" onerror="this.style.display='none'">
{% endmacro %}
